<h1>Mr Cocktail Reloaded</h2>
<br>
<ul>
  <% @cocktails.each do |cocktail| %>
   <li> <%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %> </li>
  <% end %>
</ul>

<h4><%= link_to 'Create a Cocktail', new_cocktail_path %></h4>
