<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dzpgbbhmm/image/upload/v1613915943/Mr%20Cocktail/Mr_Cocktail_b3f2ha.jpg);">  
  <div class="container">
    <div class="header">
      <h1>CAPANGA</h1>
      <p>Enjoy a selection of our finest Cocktails and<br>create your own</p>
    </div>
    <div  class="btn btn-outline"> <%= link_to 'Create a Cocktail', new_cocktail_path %> </div>
  </div>
</div>

  <% @cocktails.each do |cocktail| %>
   <li> <%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %> </li>
  <% end %>
</ul>

