// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.banner {
  background-size: cover;
  background-position: center;
  padding: 220px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 80px;
  letter-spacing: 78px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn {
  border: 3px solid $bright;
  a{
    color: $bright;
    font-size: 20px;
    letter-spacing: 3px;
  }
}

.btn:hover {
  color: white;
  background-color: $bright;
  a {
    color:white;
  }
}

.btn.focus, .btn:focus {
  color: white;
  background-color: $bright;
  a {
    color: white;
  }
}

.btn-submit {
  border: 3px solid $bright;
  color: $bright;
  letter-spacing: 5px;
  font-size: 23px;
  margin-top: 50px;
  background: none;
  border-radius: 23px;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
}

.btn-submit:hover {
  color: white;
  background-color: $bright;
}

.btn-submit.focus, .btn-submit:focus {
  color: white;
  background-color: $bright;
}

.container-new {
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
}

.header {
  color: white;
}

.header-new {
  color: white;
  margin-bottom: 50px;
  letter-spacing: 13px;
  text-align: center;
}

.new-menu {
  margin-top: 80px;
  a {
    color: $bright;
    text-decoration: none;
  }
}

.form-control {
  width: 40%;
  color:white;
  display: inline;
}

.form-control-file {
  text-align: center;
}

label {
  color: white;
}

.form-group {
  text-align: center;
}

.cocktail-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.cocktail-card-text {
  display: flex;
  flex-direction: column;
  float: left;
}

.cocktail-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.cocktail-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  a {
    color: $rusty;
    text-decoration: none;
    letter-spacing: 8px;
  }
}

.cocktail-description {
  font-size: 15px;
  opacity: .7;
  margin: 0;
  float: left;
  color: $rusty;
}


.cocktail-card .cocktail-card-text {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.cocktails {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  padding: 30px;
}

.container-show {
  height: 100vh;
  background-size: cover;
  position: absolute;
}

.title {
  color:white;
  font-size: 25px;
  letter-spacing: 15px;
  text-align: center;
}

.show-card {
  width: 280px;
  height: 358px;
  color: white;
  background: #91091e;
  position: relative;
  margin-top: 80px;
  border-radius: 12px;
  opacity: 0.9;
  margin: 115px 526px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  a {
    color: $bright;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
  }
}
